<div class="container">
  <h1><%=  @cocktail.name%></h1>


  <h4>Ingredients:</h4>
  <% @doses.each do |dose| %>
    <p><%= link_to "x", dose_path(dose), method: :delete  %> - <%= dose.ingredient.name %> - <%=dose.description %> </p>
    <!-- link to delete? -->

  <% end %>

  <div>
    <%= render '/doses/form' %>
  </div>


  <%= link_to "add an ingredient", new_cocktail_dose_path(@cocktail)  %> <br>
  <%= link_to "back to home",  cocktails_path%>
</div>

