<div class="card-category-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>)">
  <%= @cocktail.name %>
</div>


<div class="container">

  <div class="show-cocktail" id="show-cocktail-list"> <!-- flexbox -->
    <div class="ingredient-list">
      <!-- <h4>Ingredients</h4> -->
      <div class="card" style="width: 18rem; margin-top: 34px;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="font-size: 13px; color: grey;">you will need:</li>
          <% @doses.each do |dose| %>
            <li class="list-group-item">

            <%= link_to dose_path(dose), method: :delete do %>
              <i class="far fa-trash-alt"></i>
            <% end %> - <strong style="color: darkslategrey;"><%= dose.ingredient.name %></strong> - <em style="color: darkslategrey;"><%=dose.description %> </em>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
    <div class="ingredient-form">
      <%= render '/doses/form' %>
    </div>
  </div>
</div>

